
*~
genericcam

# /
/pdf
/rawWWW
/WWW
/build
/bin_linux
/bin_debug
/Debug_Linux
/Debug_Linux

/src/generator/temp.cpp
/src/generator/temp.h

/toolpath

/machines/Hermle\ 800.zip

# /doc4developer/
/doc/doxygen/html
/doc/doxygen/latex

# /doc4user/
/doc/*.aux
/doc/*.toc
/doc/*.pdf
/doc/*.backup
/doc/*.dvi

