
*~
genericcam

/pdf
/rawWWW
/WWW
/bin_linux
/bin_win
/bin_debug
/bin_release

/src/generator/temp.cpp
/src/generator/temp.h

/toolpath
/projekts

/machines/Hermle\ 800.zip
/*.zip

/doc/doxygen/html
/doc/doxygen/latex

/doc/*.aux
/doc/*.toc
/doc/*.pdf
/doc/*.backup
/doc/*.dvi
